---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    "border border-emerald-950/50 bg-emerald-950/25 backdrop-blur-2xl p-10",
    className,
  ]}
  {...rest}
>
  <slot />
</div>
