---
interface Props {
  href: string;
  text: string;
  blank?: boolean;
}

const { href, text, blank } = Astro.props;
---

<a
  href={href}
  class="inline-block border border-emerald-950 bg-emerald-950 p-4 mt-auto"
  target={blank ? "_blank" : "_self"}
>
  {text}
</a>
