---
import Logo from "../components/Logo.astro";
---

<section
  class="lg:w-[60vw] lg:ms-[39vw] min-h-dvh flex flex-col items-center justify-center gap-4 p-10"
>
  <Logo />
  <img
    src="https://nantiklum.org/wp-content/uploads/2025/08/Nantik-ICO.png"
    alt=""
    width="254"
    height="89"
  />
</section>
