<div id="nav" class="fixed top-0 right-0 mix-blend-screen z-50 flex items-center gap-4">
  <button id="scrollToForm" class="cursor-pointer">Apúntate</button>
  <button id="scrollToPremios" class="cursor-pointer">Premios</button>

  <img
    id="top"
    class="object-contain cursor-pointer"
    src="/images/interface-box.gif"
    alt="interface box"
    width="80px"
    height="80px"
  />
</div>
