---
import Box from "../components/Box.astro";
import Button from "../components/Button.astro";
---

<section id="premios" class="lg:w-[60vw] lg:ms-[39vw] py-20 px-10">
  <Box>
    <h2>Participación abierta para:</h2>
    <ul class="mb-4 before:content-['...'] before:block">
      <li>Jóvenes de entre 18 y 30 años</li>
      <li>Estudiantes de FP que tengan interés en emprender</li>
      <li>
        Personas jóvenes hayan o no finalizado sus estudios con grandes ideas
        emprendedoras
      </li>
    </ul>
    <p class="mb-4">¡Es un programa totalmente gratuito!</p>
    <h2 class="mb-4">Premios:</h2>
    <details class="cursor-pointer" name="premios">
      <summary>Categoría individual</summary>
      <ul class="mb-4 list-disc ps-8">
        <li>Primer premio: 1.200 euros en metálico.</li>
        <li>Segundo premio: 600 euros en metálico.</li>
      </ul>
    </details>

    <details class="cursor-pointer mb-4" name="premios">
      <summary>Categoría grupal</summary>
      <ul class="mb-4 list-disc ps-8">
        <li>
          Primer premio: Tarjeta regalo de 200 € para cada miembro del equipo
          ganador y para el/la docente que los haya acompañado.
        </li>
        <li>
          Segundo premio: Tarjeta regalo de 100 € para cada miembro del equipo
          finalista y para el/la docente que los haya acompañado.
        </li>
      </ul>
    </details>
    <Button
      href="https://nantiklum.org/wp-content/uploads/2025/08/Bases-Premio-Avanza-Joven-2026.pdf"
      text="Conoce las bases de los premios"
      blank
    />
  </Box>
</section>
