<section class="lg:w-[60%] lg:ms-[40%] p-10">
  <div
    class="border border-emerald-950/50 bg-emerald-950/25 backdrop-blur-2xl p-10"
  >
    <details class="cursor-pointer" name="history" open>
      <summary>Conoce Avanza Joven</summary>
      <p class="mb-4 before:content-['...'] before:block">
        Avanza Joven es un programa gratuito destinado a jóvenes de 18 a 30 años
        que quieren desarrollar su potencial emprendedor y descubrir hasta dónde
        pueden llegar. Ofrece formación online y presencial, asesoramiento
        personalizado y la oportunidad de participar en un concurso y ganar un
        premiazo.
      </p>
      <p class="mb-4">
        Conforme avances en tu camino encontrarás información, formación y
        asesoramiento. Cuanta más experiencia acumules en cada etapa... ¡más
        oportunidades tendrás de ganar tu premio!
      </p>
      <p class="mb-4">
        Comienza tu viaje emprendedor y descubre lo lejos que puedes llegar con
        el apoyo de un equipo de mentores que te harán el camino más fácil.
      </p>
      <p class="mb-4">Sigue los pasos de Raúl y empieza ahora.</p>
    </details>

    <details class="cursor-pointer" name="history">
      <summary>Te presentamos a Raúl</summary>
      <p>...</p>
      <p class="mb-4">
        Es 2024. En un rincón del mundo, entre el bullicio de la ciudad y el
        silencio de los sueños por cumplir, hay un lugar donde la aventura del
        emprendimiento cobra vida. En este lugar, se encuentra una puerta
        diferente, una puerta que no lleva a un destino común, sino a un camino
        de oportunidades y sueños por realizar.
      </p>
      <p class="mb-4">
        Imagina a Raúl, un joven lleno de energía y pasión, con una idea
        brillante que le ronda la cabeza en las noches y lo impulsa a levantarse
        con entusiasmo por las mañanas. Su sueño es crear algo único, algo que
        deje una huella en el mundo y que, al mismo tiempo, le permita alcanzar
        su propio éxito.
      </p>
    </details>

    <details class="cursor-pointer" name="history">
      <summary>Comienza tu camino</summary>
      <p>...</p>
      <p class="mb-4">
        Un día, mientras camina por las calles de su ciudad, Juan descubre un
        cartel que llama su atención: "Abre una puerta diferente a tu éxito".
        Intrigado, se acerca y lee sobre un programa que ofrece formación,
        asesoramiento y la oportunidad de convertir su idea en una empresa
        exitosa. Su nombre: Avanza Joven.
      </p>
      <p class="mb-4">
        Sin dudarlo, Raúl se inscribe en el programa y comienza su viaje hacia
        el emprendimiento.
      </p>
    </details>

    <details class="cursor-pointer" name="history">
      <summary>El objetivo</summary>
      <p>...</p>
      <p class="mb-4">
        El objetivo está claro: Raúl quiere lanzar su propio negocio, ser
        independiente y tener control sobre su vida financiera. Y Avanza Joven
        será un gran paso para conseguirlo. Pero para ello debe tener un plan de
        empresa perfecto y presentarlo a un jurado antes del ***XX de XXX (FECHA
        POR DEFINIR)*** de 2025. Solo así podrá ganar un premio valorado en
        hasta 1.200 euros. Tendrá la oportunidad de presentar su proyecto ante
        personas expertas y estará más cerca del éxito.
      </p>
    </details>
  </div>
</section>
