<div id="title" class="overflow-hidden">
  <p class="w-fit text-7xl md:text-8xl lg:text-9xl font-bold whitespace-nowrap">
    <!--Edit the moving banner function as the entire text doesn't show when you scroll -->
    ¡Elige tu camino hacia el éxito!
  </p>
</div>
